.movie{
    width:500px;
    height:auto;
    background-color:white;
    margin-left:25%;
    margin-top:29px;
    border-radius:5px;
}
.movie:hover{
    background-color:antiquewhite;
}
.profile{
    width:100%;
    height:350px;
    background-color: black;
    
}
.prom{
    width:50%;
    height:350px;
    margin-left:25%;
    border-radius: 50%;
    
}
#naav{
    width:100%;
    height:350px;
    border-radius: 50%;
}
.skills{
    width:100%;
    height:100%;
}
.skills:hover{
    background-color:lightblue;
}
.Aca{
    width:100%;
    height:auto;
}
.Aca:hover{
    background-color:lightcyan;
}
h3{
    color:blue;
}
.about:hover{
    background-color: rgb(248, 146, 13);
}
.projects{
    width:100%;
    height:auto;
}

.projects:hover{
    background-color:lightcoral;
}
.comm{
    width:100%;
    height:auto;
}
.comm:hover{
    background-color:rgb(243, 13, 47)
}
.cer{
    width:100%;
    height:auto;
}
.cer:hover{
    background-color:rgb(54, 150, 210)
}
.lan{
    width:100%;
    height:auto;
}
.lan:hover {
    background-color:rgb(254, 138, 236)
}
.inte{
    width:100%;
    height:auto;
}
.inte:hover{
    background-color:rgb(31, 223, 223)
}